:root{
  --sm: 17px;
  --md: 20px;
  --mdm: 40px;
  --lg:45px
}

body {
  background: linear-gradient(90deg,#cd122d 0,#154284);
  color: #fdc52c;
  font-family:'Source Sans Pro', Inconsolata;
  font-size: var(--md);
  padding: 0%;
  margin: 0;
}
main{
  margin:0px;
  padding:0px;
}
/*Estilos aplicados al header de la página*/
.headHome{
  display:flex;
  justify-content:space-between;
  width: 100%;
  height: 50px;
  background:#181733;
  align-items: center;
}
.menunav_1{
  display: flex;
  margin-left: 20px;
  gap:70px;
  
}
a{
  text-decoration:none;
  color: #fdc52c;
}

a:hover {
  color: #8c1a17;
  border-bottom: 3px solid #cd122d;
}
.menunav_2{
  display: flex;
  align-items: center;
  justify-items: end;
  margin-right: 10px;
  gap:50px;

}
.symbol{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.iconBarcaHeader{
  cursor: pointer;
  height: 35px;
  width: 35px;
  margin-bottom: 0px;
  gap: 0px;
  object-fit: cover;
}
.symbol > legend{
  font-size: 10px;
  margin-top:0px;
  gap: 0px;
}
/*******ESTILOS APLICADOS A TODAS LAS CLASES**************************************************************/
.titles{
  font-size: var(--lg);
  margin-left:20px;
}
.card{
  margin: 0 10px 0 10px;
  background-color:rgb(24, 23, 51,0.5);
  border: 1px solid #fdc52c;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
  text-align: justify;
  margin: 50px 50px 50px 50px;
  font-size: var(--md)
}

.subtitles{
  text-align:center;
  font-size: var(--mdm);
  color:#ffcd42;
  font-style:oblique;
  margin: 40px 60px 10px 60px;
}

/*******ESTILOS APLICADOS A LA SECCION: NEWS**************************************************************/

.walk_news{
  display: grid;
  grid-template-columns:25px 1fr 1fr 25px;
  align-items: center;
  justify-items: center;
  padding: 30px;
}
.walk_news >picture{
  margin:0%;
  padding: 0px;
  justify-content: center;
  justify-self: center;
}
#newsimg1,#newsimg2{
  height: 500px;
  width: 520px;
  position: inherit;
  object-fit: cover;
  z-index:10;
}
#iconNext, #iconPrev{
  background-color:rgba(220, 223, 43, 0.5);
  position: relative;
  z-index:1;
  cursor: pointer;
}

/*******ESTILOS APLICADOS A LA SECCION: MATCHES**************************************************************/
.matches{
  display: flex;
  justify-content: space-around;
  padding: 60px;
}
.iconTeam{
  height: 60px;
  width: 60px;
}
.match{
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  font-size: var(--md);
  border:0.5px solid #fdc52c ;
  border-radius: 10px;
}

.our_history, .who_we_are{
  font-weight:lighter;
  font-size: var(--sm);
}

/*******ESTILOS APLICADOS AL FOOTER**************************************************************/
.figurefooter{
  display:inline-flex;
  
}
.contact-us{
  border-top: 2px solid #fdc52c;
  border-bottom: 2px solid #fdc52c;
  margin: 0;
  background: linear-gradient(90deg,#8c1a17,#cd122d);
  height: 60px;
  align-items: center;
  padding: 10px;
}
.footer-ul{
  align-items: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.footer-ul > li{
  display: inline-flex;
  align-items: center;
  /*margin: 20px 15px 20px 15px;*/
  gap: 10px;
}

.footer-ul > li > img{
  height: 50px;
  width: 50px;
  align-items: center;
}
.footer-ul > li > legend{
  font-size: var(--md);
}














/*background: linear-gradient(90deg,#cd122d,#154284);
  background: linear-gradient(90deg,#8c1a17,#cd122d);
  background: #181733;*/
































