:root{
  --sm: 17px;
  --md: 20px;
  --lg: 30px;
}

body {
  margin: 25px ;
  background: rgb(2,0,36);
  background: linear-gradient(45deg, rgba(2,0,36,1) 16%, rgba(255,29,0,1) 46%, rgba(255,0,0,0.9724264705882353) 62%, rgba(255,196,0,1) 82%, rgba(209,180,7,1) 90%, rgba(2,0,36,1) 97%);
  font-family:'Source Sans Pro', Inconsolata;
  font-size: var(--md);
}
.form-container{
  margin: 25px ;
  border: 2px solid rgb(111,41,97);
  border-radius: .5em;
}
/*.card{
    display: grid;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}*/
.form_1{
  display:flex;
  flex-direction: column;
  gap:10px;
}
#login > .form_1 label{
  font-size: var(--md);
  font-weight: bold;
}
#login > .form_1 >input{
  border-radius: 10%;
  height: 30px;
  width: 180px;
}
/*#login > .form_1 >input:hover{
  color:rgb(43, 255, 0);
}*/
.login-button{
  border-radius:10%;
  height: 30px;
  width: 70px;
  margin-top:10px;

}
h1{
  font-size: var(--lg);
  font-weight: bold;
}
h2{
  font-size: var(--md);
  font-weight: bold;
}
.board{
  display:flex;

}
#emblem1, #emblem2, #emblem3, #emblem4{
    width: 150px;
    height: 150px;
    /*margin-bottom: 48px;*/
}
.icon-footer{
  width: 30px;
  height: 30px;
}

.contact-us > ul{
  font-weight: bold;
  font-size: var(--sm);
}
