:root{
  --sm: 17px;
  --md: 20px;
  --lg: 30px;
}

body {
  margin: 25px ;
  /*background-color: FloralWhite;*/
  background-image: radial-gradient(circle at 38.77% 91.9%, #ffedeb 0, #ffe6e8 8.33%, #ffdee5 16.67%, #ffd5e3 25%, #ffcbe1 33.33%, #fcc0df 41.67%, #f2b5de 50%, #e5abde 58.33%, #d7a3e0 66.67%, #c69de2 75%, #b498e5 83.33%, #9f96e7 91.67%, #8794e9 100%);
  font-family:'Source Sans Pro', Inconsolata;
  font-size: var(--md);
}
.form-container{
  margin: 25px ;
}
/*.card{
    display: grid;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}*/
/*card > #login{
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}*/
#login > .form_1 >label{
  font-size: var(--md);
  font-weight: bold;
}

h1{
  font-size: var(--lg);
  font-weight: bold;
}
h2{
  font-size: var(--md);
  font-weight: bold;
}
#emblem1, #emblem2, #emblem3, #emblem4{
    width: 150px;
    height: 150px;
    /*margin-bottom: 48px;*/
}
.icon-footer{
  width: 30px;
  height: 30px;
}

.contact-us > ul{
  font-weight: bold;
  font-size: var(--sm);
}
